@import url("reset/reset.css");
html {
  font-size: 20px;
  color: #353535;
}

.container {
  max-width: 1100px;
  margin: 100px auto;
}

.c_title_l {
  display: inline-block;
  padding: 5px 30px;
  background-color: #cc9933;
  color: #ffffff;
}

.c_title_m {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.c_title_s01 {
  background-color: #e6e6fa;
  font-size: 1.2rem;
  padding: 3px 10px;
  margin-right: 20px;
}

.c_title_s02 {
  background-color: #b0c4de;
  font-size: 1.2rem;
  padding: 3px 10px;
  margin-right: 20px;
}

.c_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c_border {
  border: 6px solid #ff0000;
}

a {
  cursor: pointer;
  word-break: break-all;
}

a:link,
a:visited {
  color: #0000ff;
}

a:hover {
  color: #ff0000;
}

p {
  text-align: justify;
}

.english p {
  text-align: left;
}

@media screen and (min-width: 520px) and (max-width: 959px) {
  html {
    font-size: 18px;
  }
  .container {
    margin: 80px 30px;
  }
  .c_title_m {
    font-size: 1rem;
  }
  .c_title_s01 {
    background-color: #e6e6fa;
    font-size: 1rem;
    padding: 3px 10px;
    margin-right: 20px;
  }
  .c_title_s02 {
    background-color: #b0c4de;
    font-size: 1rem;
    padding: 3px 10px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 519px) {
  html {
    font-size: 18px;
  }
  .container {
    margin: 50px 15px;
  }
  .c_title_m {
    font-size: 1rem;
  }
  .c_title_s01 {
    font-size: 1rem;
    margin-right: 10px;
  }
  .c_title_s02 {
    font-size: 1rem;
  }
}

.header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10;
  font-size: 0.8rem;
}

.header h3 {
  margin: 10px 0 0 60px;
  padding: 10px;
  display: inline-block;
  border: 3px solid blue;
  border-bottom: none;
  border-radius: 20px 20px 0 0;
}

.header_area {
  padding: 5px 0;
  margin: 0 auto;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.header_area img {
  width: 60px;
}

.header_area_name {
  margin: auto 0 5px 50px;
}

.header_area_lang {
  margin: auto 0 5px auto;
  height: 45px;
}

.header_area_lang li {
  border: 2px solid #192f60;
  background-color: #5a79ba;
  margin-right: 5px;
  padding: 10px;
}

.header_area_lang a {
  text-decoration: none;
  color: #ffffff;
}

.header_nav ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_nav li {
  width: 120px;
  height: 55px;
  border: 3px solid #949495;
  background-color: #dddcd6;
  text-align: center;
  display: table;
}

.header_nav li + li {
  border-left: none;
}

.header_nav a {
  text-decoration: none;
  color: black;
  display: table-cell;
  vertical-align: middle;
}

.header_logo {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 150px;
  padding: 10px 70px 10px 60px;
  background-color: #eae5e3;
}

.header_logo img {
  width: 150px;
}

.header_logo h2 {
  width: 35%;
  margin-top: 10px;
  font-size: 1.2rem;
}

.header-english_list {
  font-size: 0.5rem;
}

.header-english h2 {
  width: 40%;
  margin-top: 5px;
  font-size: 1rem;
}

@media screen and (min-width: 520px) and (max-width: 959px) {
  .header_area_name {
    font-size: 0.7rem;
  }
  .header_area_lang {
    height: 40px;
    font-size: 0.6rem;
  }
  .header_logo {
    height: 250px;
  }
  .header_logo img {
    width: 200px;
  }
  .header_logo h2 {
    width: 45%;
    margin-top: 30px;
    font-size: 1rem;
  }
  .header-english_area_name {
    font-size: 0.6rem;
  }
  .header-english h2 {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 519px) {
  .header_area_name {
    margin: auto 0 5px 10px;
    font-size: 0.6rem;
  }
  .header_area_lang {
    height: 35px;
    font-size: 0.5rem;
  }
  .header_logo {
    height: 200px;
  }
  .header_logo img {
    width: 150px;
  }
  .header_logo h2 {
    width: 50%;
    margin-top: 10px;
    font-size: 0.8rem;
  }
  .header-english_area_name {
    font-size: 0.6rem;
  }
  .header-english h2 {
    font-size: 0.8rem;
  }
}

.objective {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 220px;
}

.objective h3 {
  margin-top: 20px;
}

.objective_left {
  width: calc(50% - 30px);
}

.objective_left p {
  font-size: 0.8rem;
  text-align: left;
}

.objective_text {
  margin-top: 10px;
  padding: 20px 20px;
}

.objective_text p {
  font-size: 0.9rem;
}

.objective_right {
  width: calc(50% - 30px);
}

.objective_right ul {
  margin-top: 20px;
  min-height: 410px;
  padding: 10px;
  border: 2px solid #000000;
}

.objective_right li {
  margin-bottom: 10px;
}

.objective_right li p {
  font-size: 0.8rem;
}

@media screen and (max-width: 519px) {
  .objective {
    display: block;
  }
  .objective_left {
    width: 100%;
  }
  .objective_right {
    width: 100%;
    margin-top: 30px;
  }
}

.summary p {
  margin-bottom: 10px;
}

.summary ul {
  width: 70%;
  padding: 20px 20px 15px;
}

.summary li {
  margin-bottom: 10px;
}

@media screen and (max-width: 519px) {
  .summary ul {
    width: 80%;
    margin: 40px auto;
  }
}

.program {
  padding-top: 220px;
}

.program p {
  margin-bottom: 10px;
}

.program_item01 {
  width: 93%;
  padding: 20px 20px 15px;
}

.program_item01 h4 {
  margin-bottom: 10px;
}

.program_item01 p {
  margin: 10px 40px;
}

.program_item02 {
  width: 70%;
  padding: 10px 20px 15px;
  margin-top: 50px;
}

@media screen and (max-width: 519px) {
  .program_item01 {
    width: 100%;
    padding: 20px 10px 15px;
  }
  .program_item01 p {
    margin: 10px 20px;
  }
  .program_item02 {
    width: 100%;
  }
}

.curriculum {
  padding-top: 220px;
}

.curriculum_wrapper {
  margin-top: 20px;
  padding: 10px;
}

.curriculum p {
  margin: 25px 40px;
}

.curriculum ul {
  margin-left: 100px;
}

.curriculum_text {
  padding: 0 50px;
}

@media screen and (min-width: 520px) and (max-width: 959px) {
  .curriculum_text {
    padding: 0;
  }
}

@media screen and (max-width: 519px) {
  .curriculum ul {
    margin-left: 20px;
  }
  .curriculum_text {
    padding: 0;
  }
}

.university {
  padding-top: 220px;
}

.university_place {
  margin-top: 30px;
  text-align: center;
}

.university_place img {
  width: 70%;
}

.university_partner {
  width: 90%;
  margin: 0 auto;
}

.university_partner_img img {
  width: 100%;
}

.university_partner_table, .university_item_table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 5px;
  font-size: 0.8rem;
  width: 100%;
}

.university_partner_table td, .university_item_table td {
  padding: 3px;
  background: #f5f5f5;
}

.university_partner_table td:first-child, .university_item_table td:first-child {
  width: 35%;
}

.university_partner_table tr:nth-child(odd) td, .university_item_table tr:nth-child(odd) td {
  background: #dcdcdc;
}

.university_items, .university_item {
  width: 95%;
  margin: 30px auto;
}

.university_name {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #a9a9a9;
  padding: 0 10px 0 30px;
  margin: 30px 5px 0px;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: bold;
}

.university_name img {
  width: 80px;
}

.university-english_img {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.university-english_img_partner {
  width: calc(50% - 10px);
  margin-top: 50px;
}

.university-english_img_partner img {
  width: 100%;
}

.university-english_img_japan {
  width: calc(50% - 30px);
}

.university-english_img_japan img {
  width: 100%;
}

.university-english span {
  color: red;
}

@media screen and (max-width: 519px) {
  .university_kenya {
    width: 100%;
  }
  .university_items, .university_item {
    width: 100%;
    margin: 30px auto;
  }
  .university_name img {
    width: 60px;
  }
}

.admission {
  width: 95%;
}

.admission_item {
  margin: 30px 0 30px;
}

.admission_item_table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 5px;
  width: 100%;
}

.admission_item_table td {
  padding: 10px;
  background: #b0c4de;
}

.admission_item_table td:first-child {
  width: 35%;
}

.admission_item_table tr:nth-child(odd) td {
  background: #e6e6fa;
}

.admission_item_table_list {
  margin-left: 20px;
  list-style: disc;
}

.admission_item_text p:not(:first-of-type) {
  padding-left: 30px;
}

.admission_application {
  padding: 10px;
}

.admission_application_text {
  margin-left: 100px;
}

.admission_application_text span {
  margin-left: 30px;
  color: red;
}

.admission_faq {
  padding: 10px;
}

.admission_faq_ans {
  padding: 10px;
  margin: 30px 20px 20px 100px;
}

.admission_description p {
  margin-left: 100px;
  color: red;
}

@media screen and (max-width: 519px) {
  .admission_faq_ans {
    margin: 30px 20px 20px 50px;
  }
}

.brochure h3 {
  padding: 10px;
}

.brochure_img {
  margin: 50px;
  text-align: center;
}

.brochure_pdf {
  width: 50%;
  padding: 10px 20px;
}

.brochure_pdf img {
  margin-left: 100px;
}

@media screen and (min-width: 520px) and (max-width: 959px) {
  .brochure_pdf {
    width: 80%;
    margin: 0 auto;
    padding: 10px 20px;
  }
  .brochure_pdf img {
    margin-left: 50px;
  }
}

@media screen and (max-width: 519px) {
  .brochure_img {
    margin: 20px;
  }
  .brochure_pdf {
    width: 100%;
    padding: 10px 20px;
  }
  .brochure_pdf img {
    margin-left: 0px;
  }
}

.report {
  padding-top: 220px;
}

.report_item {
  padding: 10px 0 10px 10px;
}

.report_item_table {
  margin: 30px 10px 0 90px;
  border-collapse: separate;
  border-spacing: 5px;
  width: 90%;
}

.report_item_table td {
  padding: 10px;
  background: #b0c4de;
}

.report_item_table td:first-child {
  width: 30%;
}

.report_item_table tr:nth-child(odd) td {
  background: #e6e6fa;
}

.report_work span, .report_foreign_student span {
  margin-left: 50px;
  color: red;
}

.report-english_list {
  margin-left: 90px;
}

@media screen and (min-width: 520px) and (max-width: 959px) {
  .report_item_table {
    margin: 30px 10px 0 30px;
  }
}

@media screen and (max-width: 519px) {
  .report_item_table {
    width: 100%;
    margin: 30px 0;
  }
}

.access {
  padding-top: 220px;
}

.access_img {
  text-align: center;
}

.access_detail {
  margin: 50px 10px;
}

.access_detail h5 {
  text-decoration: underline;
  margin-top: 20px;
}

.access_table td {
  padding-right: 10px;
}

.access p {
  margin: 10px;
}

@media screen and (min-width: 520px) and (max-width: 959px) {
  .access_img {
    text-align: center;
  }
  .access_img img {
    width: 80%;
  }
}

@media screen and (max-width: 519px) {
  .access_img {
    text-align: center;
  }
  .access_img img {
    width: 80%;
  }
}
