.footer{

  .parallax{
    background-image: url(../img/parallax.jpg);
    height:240px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center top;
    transition-property: background-position;
  }

  .margin-no-top{
    margin-top: 0%;
  }

  .bg-black{
    background: #282827;
  }

  a {
    text-decoration: none;
  }

  &_area {

    img {
      width: 60px;
    }

  }

  .banners {
    max-width: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 80px 0 80px;

    .banner {
      width: 16.5%;

      a {
        display: block;
        margin: 5px;
        text-align: center;
        color: #fff;

        .img {
          background-color: #fff;
          margin-bottom: 8px;
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
        }

        .title {
          font-size: 0.7rem;
          line-height: 1.4em;
          font-weight: 700;

          &-bottom {
            font-size: 0.7rem;
          }
        }
      }
    }

    .img-fluid {
      max-width: 100%;
      height: auto;
    }
  }

  .bottom {
    justify-content: space-between;

    &_left {
      .logo {
        margin-bottom: 3%;

        img {
          width: 125px;
        }
      }

      .addr {
        font-size: 0.6em;
      }
    }

    &_right {
      width: 500px;

      nav#nav-footer {
        margin-top: 49px;
        margin-bottom: 10px;
        text-align: right;
        font-size: 0.7rem;

        ul {
          justify-content: flex-end;

          li a {
            padding-left: 12px;
            color: #353535;

            &:before {
              content: "\f0da";
              font-family: FontAwesome;
              font-weight: 900;
              margin-right: 8px;
            }
          }
        }
      }
    }

    .copyright {
      text-align: right;
      font-size: 0.6em;

      br {
        display: none;
      }
    }
  }
}
@include mq($breakpoint: tab) {
  .footer {

    .parallax{
      height:160px;
      background-size: 150%;
      background-position:center top -0.773px;
    }

    .banners {
      .banner {
        max-width: none;
        width: 33.3333%;
        margin: 0;
      }
    }

    &_right {
      .copyright {
        text-align: left;
        br {
          display: unset;
        }
      }
    }
  }
}

@include mq($breakpoint: sp) {
  .footer{
    .parallax{
      height:160px;
      background-size: 220%;
      background-position:center top -0.773px;
    }

    .banners{
      .banner{
        max-width: 280px;
        margin: auto;
        width: 100%;
      }
    }
    .bottom {
      flex-wrap: wrap;

      &_left {
        width: 100%;
        margin-bottom: 5%;
      }

      &_right {
        width: 100%;

        nav#nav-footer {
          text-align: left;
          margin-bottom: 10px;
          margin-top: unset;

          ul {
            display: table-cell;
          }
        }

        .copyright {
          text-align: left;
          br {
            display: unset;
          }
        }
      }
    }
  }
}
