.report {
  
  &_item {
    padding: 10px 0 10px 10px;
  }

  &_item_table {
    margin: 30px 10px 0 90px;
    border-collapse: separate;
    border-spacing: 5px;
    width: 90%;

    td {
      padding: 10px;
      background: $color-accent02;
    }

    td:first-child {
      width: 30%;
    }

    tr:nth-child(odd) td {
      background: $color-accent01;
    }
  }

  &_work,
  &_foreign_student {
    span {
      margin-left: 50px;
      color: red;
    }
  }
}

.report-english {
  &_list {
    margin-left: 90px;
  }
}

@include mq($breakpoint: tab) {
  .report {
    &_item_table {
      margin: 30px 10px 0 30px;
    }
  }
}

@include mq($breakpoint: sp) {
  .report {
    &_item_table {
      width: 100%;
      margin: 30px 0;
    }
  }
}
