.summary {
  p {
    margin-bottom: 10px;
  }

  ul {
    width: 70%;
    padding: 20px 20px 15px;
  }

  li {
    margin-bottom: 10px;
  }
}

@include mq($breakpoint: tab) {
}

@include mq($breakpoint: sp) {
  .summary {
    ul {
      width: 80%;
      margin: 40px auto;
    }
  }
}
